<h1 class="md-headline">Fonction (Optionnel)</h1>

<form form-step-validity name="studentInscriptionFormFonction">

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Nature</label>
            <input ng-model="vm.studentForm.nature" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Employer</label>
            <input type="text" ng-model="vm.studentForm.employer" required>
        </md-input-container>
    </div>

    <div>
        <h4>Date de prise de fonction</h4>

             <md-input-container class="md-block" flex-gt-sm>
            <label>jj-mm-aaaa</label>
            <input name="date_of_inauguration" ng-model="vm.studentForm.date_of_inauguration"
                   ng-pattern="/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/">
            <div class="hint" ng-show="showHints">Il faut écrivez la date sous la format suivante : jj-mm-aaaa</div>
            <div ng-messages="studentInscriptionFormFonction.date_of_inauguration.$error" ng-hide="showHints">
                <div ng-message="pattern">Il faut écrivez la date sous la format suivante : jj-mm-aaaa</div>
            </div>
        </md-input-container>
    </div>

    <div>
        <h4>Adresse professionnelle</h4>
    </div>
    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Code postal</label>
            <input ng-model="vm.studentForm.fonction_postal_code" ng-pattern="/^[0-9]{4}$/" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Adresse</label>
            <input type="text" ng-model="vm.studentForm.fonction_label_adress" required>
        </md-input-container>
    </div>

    <div>
        <md-select name="fonction_country" ng-model="vm.fonction_country" placeholder="Pays"
                   class="md-no-underline" required>
            <md-option ng-repeat="country in vm.initData.countries" value={{country.id_country}}>{{ country.label
                }}
            </md-option>
        </md-select>

        <md-select ng-disabled="studentInscriptionFormFonction.fonction_country.$invalid"
                   ng-model="vm.studentForm.fonction_id_city" placeholder="Ville" class="md-no-underline"
                   required>
            <md-option ng-repeat="city in vm.getCities(vm.fonction_country)" value={{city.id_city}}>{{ city.label
                }}
            </md-option>
        </md-select>
    </div>


    <div layout="row" layout-xs="column">
        <md-button class="StudentForm-previous md-primary md-raised"
                   ng-click="vm.studentForm.bac_year >= 2016 ? $setActiveIndex(3) : $previousStep()" flex>Previous
        </md-button>
        <md-button class="StudentForm-next md-primary md-raised"
                   ng-click="$nextStep()" flex>Next
        </md-button>
    </div>

</form>
