.lf-ng-md-file-input-drag-text {
  font-size: 30px !important;
}

.lf-ng-md-file-input-drag {
  height: 150px;
}
.lf-ng-md-file-input {
  height : 250px;
  width :  350px;
}
.upload-photo-button {
  width: 20%;
}