<md-content class="Page-Container DemoHeader">
    <div layout="row">
        <div flex="90" flex-offset="5" class="DemoHeader-container">
            <div layout="row" layout-align="space-between">
                <img src="img/icons/logo-med.png" class="DemoHeader-logo"/>

                <div layout="row" layout-align="center stretch">
                    <a ng-if="$root.isAuthenticated" hide-xs class="DemoHeader-link md-subhead" href
                       ng-click="vm.logout()">Se Déconnecter</a>
                </div>

            </div>
        </div>
    </div>
</md-content>
<div class="DemoHeader-spacer"></div>
