<h1 class="md-headline">Baccalauréat</h1>

<form form-step-validity name="studentInscriptionFormBac">

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Année</label>
            <input ng-model="vm.studentForm.bac_year" ng-pattern="/^[0-9]{4}$/" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Moyenne générale</label>
            <input type="text" ng-model="vm.studentForm.bac_average" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Lycée</label>
            <input type="text" ng-model="vm.studentForm.bac_school" required>
        </md-input-container>
    </div>

    <div>
        <md-select ng-model="vm.studentForm.bac_type" placeholder="Section" class="md-no-underline" required>
            <md-option ng-repeat="type in vm.initData.bactypes" value={{type.id_type}}>{{ type.label }}</md-option>
        </md-select>
    </div>

    <div>
        <md-select ng-model="vm.studentForm.bac_mention" placeholder="Mention" class="md-no-underline" required>
            <md-option ng-repeat="mention in vm.initData.mentions" value={{mention.id_mention}}>{{ mention.label }}
            </md-option>
        </md-select>
    </div>

    <div layout="row" layout-xs="column">
        <md-button class="StudentForm-previous md-primary md-raised" ng-click="$previousStep()" flex>Previous
        </md-button>
        <md-button class="StudentForm-next md-primary md-raised"
                   ng-disabled="studentInscriptionFormBac.$invalid"
                   ng-click="vm.studentForm.bac_year >= 2016 ? $setActiveIndex(5) : $nextStep()" flex>Next
        </md-button>
    </div>

</form>
