<form form-step-validity name="studentInscriptionFormStudy" ng-submit="vm.register()">

    <div ng-repeat="study in vm.studentForm.studies">

        <div>
            <md-input-container class="StudentForm-inputContainer">
                <label>Study Year</label>
                <input ng-model="study.study_year" required>
            </md-input-container>
        </div>

        <div>
            <md-select ng-model="study.study_university" placeholder="Study University" class="md-no-underline"
                       required>
                <md-option ng-repeat="university in vm.initData.universities" value={{university.id_university}}>{{
                    university.label }}
                </md-option>
            </md-select>
        </div>

        <div>
            <md-select ng-model="study.study_level" placeholder="Study Level" class="md-no-underline" required>
                <md-option ng-repeat="level in vm.initData.levels" value={{level.id_level}}>{{ level.label }}
                </md-option>
            </md-select>
        </div>

        <div>
            <md-select ng-model="study.study_result" placeholder="Study Resultat" class="md-no-underline" required>
                <md-option ng-repeat="result in vm.initData.results" value={{result.id_result}}>{{ result.label }}
                </md-option>
            </md-select>
        </div>

    </div>

    <md-button ng-click="vm.addStudy()" flex>Add study +</md-button>
    <md-button ng-click="vm.removeStudy()" flex>Remove study -</md-button>

    <div layout="row" layout-xs="column">
        <md-button class="StudentForm-previous md-primary md-raised" ng-click="$previousStep()" flex>Previous
        </md-button>
        <md-button class="StudentForm-submit md-primary md-raised" type="submit" flex>Submit
        </md-button>
    </div>

</form>
