<h1 class="md-headline">General informations</h1>

<form form-step-validity name="studentInscriptionFormGeneral">
    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Nom de famille</label>
            <input type="text" ng-model="vm.studentForm.first_name" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>1ére Prénom</label>
            <input type="text" ng-model="vm.studentForm.last_name" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>2éme Prénom</label>
            <input type="text" ng-model="vm.studentForm.second_name">
        </md-input-container>
    </div>

    <div>
        <h4>Sexe</h4>
        <md-radio-group ng-model="vm.studentForm.sex" class="StudentForm-inputContainer" required>
            <md-radio-button value="Homme" class="md-primary">Homme</md-radio-button>
            <md-radio-button value="Femme" class="md-primary">Femme</md-radio-button>
        </md-radio-group>
    </div>

    <div>
        <h4>Date de naissance</h4>
        <md-datepicker ng-model="vm.studentForm.birthday" md-placeholder="Birthday" required></md-datepicker>
    </div>

    <div>
        <h4>Birthday City</h4>

        <md-select name="birthday_country" ng-model="vm.birthday_country" placeholder="Birthday Country"
                   class="md-no-underline" required>
            <md-option ng-repeat="country in vm.initData.countries" value={{country.id_country}}>{{ country.label
                }}
            </md-option>
        </md-select>

        <md-select ng-disabled="studentInscriptionFormGeneral.birthday_country.$invalid"
                   ng-model="vm.studentForm.birthday_city" placeholder="Birthday City" class="md-no-underline" required>
            <md-option ng-repeat="civm.birthday_country)" value={{city.id_city}}>{{ city.label
                }}
            </md-option>
        </md-select>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>CIN (nationalité tunisienne)</label>
            <input ng-model="vm.studentForm.cin" ng-pattern="/^[0-9]{8}$/">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Passport (autre nationalité)</label>
            <input ng-model="vm.studentForm.passport" ng-pattern="/^[0-9]{8}$/">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Phone</label>
            <input ng-model="vm.studentForm.phone" ng-pattern="/^[0-9]{8}$/">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Mobile</label>
            <input ng-model="vm.studentForm.mobile" ng-model="vm.studentForm.mobile">
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Email</label>
            <input type="email" ng-model="vm.studentForm.mail" required>
        </md-input-container>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Année accés aux étude universitaire</label>
            <input type="text" ng-model="vm.studentForm.study_access_year" required>
        </md-input-container>
    </div>

    <div>
        <md-checkbox ng-model="vm.studentForm.oriented" aria-label="Oriented" required>
            Oriented
        </md-checkbox>
    </div>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Origin University (en cas du réorientaion)</label>
            <input type="text" ng-model="vm.studentForm.origin_university">
        </md-input-container>
    </div>

    <div layout="row" layout-xs="column">
        <md-button class="StudentForm-next md-primary md-raised"
                   ng-disabled="studentInscriptionFormGeneral.$invalid"
                   ng-click="$nextStep()" flex>Next
        </md-button>
    </div>

</form>
