<h1 class="md-headline">Doctaurat (Optionnel)</h1>

<form form-step-validity name="studentInscriptionFormDoctaurat" ng-submit="vm.register()" novalidate>

    <div>
        <md-input-container class="StudentForm-inputContainer">
            <label>Numero du doctaurat</label>
            <input ng-model="vm.studentInscriptionFormDoctaurat.doctaurat_numero" ng-pattern="/^[0-9]*$/">
        </md-input-container>
    </div>

    <div>
        <h4>Date de soutenance</h4>
    
     <md-input-container class="md-block" flex-gt-sm>
            <label>jj-mm-aaaa</label>
            <input name="doctaurat_date_of_pitch" ng-model="vm.studentForm.doctaurat_date_of_pitc"
                   ng-pattern="/^[0-9]{2}-[0-9]{2}-[0-9]{4}$/">
            <div class="hint" ng-show="showHints">Il faut écrivez la date sous la format suivante : jj-mm-aaaa</div>
            <div ng-messages="studentInscriptionFormDoctaurat.doctaurat_date_of_pitch.$error" ng-hide="showHints">
                <div ng-message="pattern">Il faut écrivez la date sous la format suivante : jj-mm-aaaa</div>
            </div>
        </md-input-container>
                
    </div>

    <div>
        <md-select ng-model="vm.studentForm.doctaurat_id_university" placeholder="Université"
                   class="md-no-underline">
            <md-option ng-repeat="university in vm.initData.universities" value={{university.id_university}}>{{
                university.label }}
            </md-option>
        </md-select>
    </div>

    <div>
        <md-select ng-model="vm.studentForm.doctaurat_id_mention" placeholder="Mention"
                   class="md-no-underline">
            <md-option ng-repeat="mention in vm.initData.mentions" value={{mention.id_mention}}>{{ mention.label }}
            </md-option>
        </md-select>
    </div>

    <div layout="row" layout-xs="column">
        <md-button class="StudentForm-previous md-primary md-raised" ng-click="$previousStep()" flex>Previous
        </md-button>
        <md-button class="StudentForm-submit md-primary md-raised" type="submit" flex>Submit
        </md-button>
    </div>

</form>
